*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
body{
    background-image: url("city.jpg");
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul li {
    list-style: none;
    display: inline-block;
     margin: 0 20px;
     
     
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}
.content{
width: 100%;
position: absolute;
top: 50%;
text-align: center;
color: beige;
}

